.main-content {
  margin-top: 10px;
}

.main-content header {
  font-weight: bold;
}

.main-content h1 {
  font-weight: bold;
}

.main-story {
  margin-top: 10px;
}

.main-story section {
  margin-bottom: 20px;
}

.main-story ul {
  list-style: initial;
  margin-left: 15px;
}

.byline {
  margin-top: 5px;
  color: $gray;
}
